name: Build Docker image

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    paths:
      - .github/configs/**/*.yml

env:
  IMAGE_DESCRIPTION: Built by GitHub Actions, the associated workflow is https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
  GH_TOKEN: ${{ github.token }}
  PR_NUMBER: ${{ github.event.pull_request.number }}

permissions:
  contents: read
  packages: write
  id-token: write
  attestations: write

jobs:
  get-build-parameters:
    name: 获取构建参数
    if: github.actor == 'renovate[bot]'
    runs-on: ubuntu-latest
    outputs:
      repo: ${{ steps.read-config-file.outputs.repo }}
      ref: ${{ steps.read-config-file.outputs.ref }}
      image_name: ${{ steps.read-config-file.outputs.image_name }}
      image_tag: ${{ steps.read-config-file.outputs.image_tag }}
      build_context: ${{ steps.read-config-file.outputs.build_context }}
      dockerfile: ${{ steps.read-config-file.outputs.dockerfile }}
      architectures: ${{ steps.read-config-file.outputs.architectures }}
      build_args: ${{ steps.read-config-file.outputs.build_args }}
      build_target: ${{ steps.read-config-file.outputs.build_target }}
    steps:
      - name: 检出分支
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}

      - name: 安装 yq
        uses: frenck/action-setup-yq@v1

      - name: 通过此分支中的最后一次提交获取被更新的文件名
        id: updated-files
        run: |
          # 当触发工作流的事件为 pull_request 时，github.sha 值为 github.ref 分支上的最后一次合并提交
          files=$( git diff-tree --no-commit-id --name-only -r ${{ github.event.pull_request.head.sha }} )
          echo "$files" | while IFS= read -r file; do
            if [[ "$file" == *.yml ]]; then
              echo "file=$file" >> $GITHUB_OUTPUT
              break
            fi
          done

      - name: 读取镜像构建配置文件
        id: read-config-file
        run: |
          file=${{ steps.updated-files.outputs.file }}
          echo "repo=$(yq e '.repo' $file)" >> $GITHUB_OUTPUT
          echo "ref=$(yq e '.ref' $file)" >> $GITHUB_OUTPUT
          echo "image_name=$(yq e '.image_name' $file)" >> $GITHUB_OUTPUT

          image_tag_prefix=$(yq e '.image_tag_prefix // ""' $file)
          image_tag=$(yq e '.image_tag' $file)
          full_image_tag="${image_tag_prefix}${image_tag}"

          echo "image_tag=$full_image_tag" >> $GITHUB_OUTPUT
          echo "build_context=$(yq e '.build_context' $file)" >> $GITHUB_OUTPUT
          echo "dockerfile=$(yq e '.dockerfile' $file)" >> $GITHUB_OUTPUT
          echo "architectures=$(yq e '.architectures' $file)" >> $GITHUB_OUTPUT
          echo "build_args=$(yq e '.build_args' $file)" >> $GITHUB_OUTPUT
          echo "build_target=$(yq e '.build_target' $file)" >> $GITHUB_OUTPUT

  publish-docker:
    name: 构建并发布 Docker 镜像
    runs-on: ubuntu-latest
    needs: get-build-parameters
    steps:
      - name: 确认构建参数
        env:
          REPO_URL: ${{ needs.get-build-parameters.outputs.repo }}
          TARGET_REF: ${{ needs.get-build-parameters.outputs.ref }}
          IMAGE_NAME: ${{ needs.get-build-parameters.outputs.image_name }}
          IMAGE_TAG: ${{ needs.get-build-parameters.outputs.image_tag }}
          BUILD_CONTEXT: ${{ needs.get-build-parameters.outputs.build_context }}
          DOCKERFILE: ${{ needs.get-build-parameters.outputs.dockerfile }}
          ARCHITECTURES: ${{ needs.get-build-parameters.outputs.architectures }}
          BUILD_ARGS: ${{ needs.get-build-parameters.outputs.build_args }}
          BUILD_TARGET: ${{ needs.get-build-parameters.outputs.build_target }}
        run: |
          echo "REPO_URL=$REPO_URL"
          echo "TARGET_REF=$TARGET_REF"
          echo "IMAGE_NAME=$IMAGE_NAME"
          echo "IMAGE_TAG=$IMAGE_TAG"
          echo "BUILD_CONTEXT=$BUILD_CONTEXT"
          echo "DOCKERFILE=$DOCKERFILE"
          echo "ARCHITECTURES=$ARCHITECTURES"
          echo "BUILD_ARGS=$BUILD_ARGS"
          echo "BUILD_TARGET=$BUILD_TARGET"

      - name: 设置环境变量
        env:
          IMAGE_NAME: ${{ needs.get-build-parameters.outputs.image_name }}
          IMAGE_TAG: ${{ needs.get-build-parameters.outputs.image_tag }}
        run: |
          owner=$(echo '${{ github.repository_owner }}' | tr '[:upper:]' '[:lower:]')
          echo "OWNER=$owner" >> "$GITHUB_ENV"
          echo "IMAGE_FULL_NAME=ghcr.io/$owner/$IMAGE_NAME" >> $GITHUB_ENV
          echo "IMAGE_NAME=$IMAGE_NAME" >> $GITHUB_ENV
          echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV
          echo "FIRST_TAG=$(echo $IMAGE_TAG | cut -d',' -f1)" >> $GITHUB_ENV

      - name: 设置多标签
        id: set-tags
        run: |
          TAGS_ARRAY=($(echo "${{ env.IMAGE_TAG }}" | tr ',' ' '))
          TAGS_MULTILINE=""
          for tag in "${TAGS_ARRAY[@]}"; do
            TAGS_MULTILINE+="type=raw,value=${tag}\n"
          done
          echo "tags<<EOF" >> $GITHUB_OUTPUT
          echo -e "$TAGS_MULTILINE" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: 检出代码
        env:
          REPO_URL: ${{ needs.get-build-parameters.outputs.repo }}
          TARGET_REF: ${{ needs.get-build-parameters.outputs.ref }}
        run: |
          git clone $REPO_URL .
          git fetch --tags
          git checkout $TARGET_REF

      - name: 安装 Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '4.0.0'
      - name: 获取许可证信息
        run: |
          gem install licensee
          license_result=$(licensee detect --json | jq -r '.licenses[0].spdx_id' 2>&1)
          status=$?
          if [ $status -eq 0 ]; then
              if [ "$license_result" = "null" ] || [ -z "$license_result" ]; then
                  echo "LICENSES=none" >> "$GITHUB_ENV"
              else
                  echo "LICENSES=$license_result" >> "$GITHUB_ENV"
              fi
          else
              echo "LICENSES=none" >> "$GITHUB_ENV"
          fi

      - name: 确认当前版本
        run: |
          git describe --tags --always

      - name: 登录到 GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ env.OWNER }}
          password: ${{ github.token }}

      - name: 提取镜像注册表的元数据（标记、标签）
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE_FULL_NAME }}
          tags: ${{ steps.set-tags.outputs.tags }}
          annotations: |
            org.opencontainers.image.description=${{ env.IMAGE_DESCRIPTION }}
            org.opencontainers.image.url=${{ needs.get-build-parameters.outputs.repo }}
            org.opencontainers.image.source=${{ needs.get-build-parameters.outputs.repo }}
            org.opencontainers.image.title=${{ env.IMAGE_NAME }}
            org.opencontainers.image.version=${{ env.FIRST_TAG }}
            ${{ env.LICENSES != 'none' && format('org.opencontainers.image.licenses={0}', env.LICENSES) || '' }}
          labels: |
            org.opencontainers.image.description=${{ env.IMAGE_DESCRIPTION }}
            org.opencontainers.image.url=${{ needs.get-build-parameters.outputs.repo }}
            org.opencontainers.image.source=${{ needs.get-build-parameters.outputs.repo }}
            org.opencontainers.image.title=${{ env.IMAGE_NAME }}
            org.opencontainers.image.version=${{ env.FIRST_TAG }}
            ${{ env.LICENSES != 'none' && format('org.opencontainers.image.licenses={0}', env.LICENSES) || '' }}
        env:
          DOCKER_METADATA_ANNOTATIONS_LEVELS: manifest,index

      - name: 安装 QEMU
        uses: docker/setup-qemu-action@v3
      - name: 安装 Buildx Kit
        uses: docker/setup-buildx-action@v3
      - name: 构建并推送 Docker 镜像
        id: push
        uses: docker/build-push-action@v6
        with:
          build-args: |
            ${{ needs.get-build-parameters.outputs.build_args }}
          context: ${{ needs.get-build-parameters.outputs.build_context}}
          target: ${{ needs.get-build-parameters.outputs.build_target }}
          push: true
          file: ${{ needs.get-build-parameters.outputs.dockerfile }}
          tags: ${{ steps.meta.outputs.tags }}
          annotations: ${{ steps.meta.outputs.annotations }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          platforms: ${{ needs.get-build-parameters.outputs.architectures }}

      - name: 获取镜像大小
        run: |
          docker manifest inspect ${{ env.IMAGE_FULL_NAME }}:${{ env.FIRST_TAG }} -v > manifest.json
          curl -o ./get_image_size.sh -s https://raw.githubusercontent.com/pooneyy/1Panel-Appstore/refs/heads/script/get_image_size.sh
          chmod +x get_image_size.sh

      - name: 获取软件包 ID
        run: |
          response=$(gh api \
            -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            /users/${{ env.OWNER }}/packages/container/${{ env.IMAGE_NAME }}/versions)
          version_id=$(echo "$response" | jq -r '.[] | select(.metadata.container.tags[]? == "${{ env.FIRST_TAG }}") | .id')
          echo "VERSION_ID=$version_id" >> $GITHUB_ENV

      - name: 为作业添加摘要
        run: |
          arch_array=($(echo ${{ needs.get-build-parameters.outputs.architectures }} | tr -d '"' | tr ',' '\n' | tr -d ' '))
          echo "## Build Report" >> $GITHUB_STEP_SUMMARY
          echo "### Get the image" >> $GITHUB_STEP_SUMMARY
          echo '<pre lang="bash">' >> $GITHUB_STEP_SUMMARY
          echo "<code>docker pull ${{ env.IMAGE_FULL_NAME }}:${{ env.FIRST_TAG }}</code>" >> $GITHUB_STEP_SUMMARY
          echo "</pre>" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "Image Url: https://github.com/users/${{ env.OWNER }}/packages/container/${{ env.IMAGE_NAME }}/${{ env.VERSION_ID }}?tag=${{ env.FIRST_TAG }}" >> $GITHUB_STEP_SUMMARY
          echo "### Image info" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "| Repository | Reference / Branch / Tag | Push Time |" >> $GITHUB_STEP_SUMMARY
          echo "|:-:|:-:|:-:|" >> $GITHUB_STEP_SUMMARY
          echo "| ${{ needs.get-build-parameters.outputs.repo }} | [$(git log --pretty=format:"%h" -n 1)](${{ needs.get-build-parameters.outputs.repo }}/tree/$(git log --pretty=format:"%H" -n 1)) |$(git log --pretty=format:"%ci" -n 1)|" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "| Architecture | Image Size |" >> $GITHUB_STEP_SUMMARY
          echo "|:-:|:-:|" >> $GITHUB_STEP_SUMMARY
          for arch in "${arch_array[@]}"; do
            echo "| $arch | $(./get_image_size.sh --arch $arch) |" >> $GITHUB_STEP_SUMMARY
          done
          echo "### Verify the image" >> $GITHUB_STEP_SUMMARY
          echo "You can use github cli to verify the image, run the command:" >> $GITHUB_STEP_SUMMARY
          echo '<pre lang="bash"><code>' >> $GITHUB_STEP_SUMMARY
          echo "gh attestation verify oci://${{ env.IMAGE_FULL_NAME }}:${{ env.FIRST_TAG }} -R ${{ github.repository }}" >> $GITHUB_STEP_SUMMARY
          echo "</code></pre>" >> $GITHUB_STEP_SUMMARY

      - name: 生成工件证明
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: ${{ env.IMAGE_FULL_NAME }}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true

  merge-prs:
    name: 自动合并此 PR
    runs-on: ubuntu-latest
    needs: 
      - publish-docker
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: 检出分支
        uses: actions/checkout@v6
        with:
          ref: ${{ github.base_ref }}
      
      - name: 合并 PR
        run: |
          max_attempts=5
          for attempt in $(seq 1 $max_attempts); do
            if gh pr merge $PR_NUMBER --squash --delete-branch --body ""; then
              echo "✅ Merge PR #$PR_NUMBER Success"
              exit 0
            else
              echo "⚠️ Merge PR #$PR_NUMBER Failed ($attempt / $max_attempts)"
              sleep 5
            fi
          done
