name: Build Docker image

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

env:
  IMAGE_DESCRIPTION: Built by GitHub Actions, the associated workflow is https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
  GH_TOKEN: ${{ github.token }}
  PR_NUMBER: ${{ github.event.pull_request.number }}

permissions:
  contents: read
  packages: write
  id-token: write
  attestations: write

jobs:
  get-latest-commit-author:
    name: 获取最新提交的作者
    runs-on: ubuntu-latest
    outputs:
      latest_commit_author: ${{ steps.latest-commit-author.outputs.latest_commit_author }}
    steps:
      - name: Get latest commit author
        id: latest-commit-author
        run: |
          resp=$(gh api \
            -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            /repos/${{ github.repository}}/commits/${{ github.event.pull_request.head.ref }})
          author=$(echo "$resp" | jq -r '.author.login // empty')
          echo "the Author of Latest Commit on Head Branch: $author"
          echo "latest_commit_author=$author" >> $GITHUB_OUTPUT

  get-build-parameters:
    name: 获取构建参数
    needs: get-latest-commit-author
    if: |
      github.actor == 'renovate[bot]' &&
      github.triggering_actor == 'renovate[bot]' &&
      needs.get-latest-commit-author.outputs.latest_commit_author != github.repository_owner &&
      startsWith(github.head_ref, 'renovate/')
    runs-on: ubuntu-latest
    outputs:
      repo: ${{ steps.read-config-file.outputs.repo }}
      ref: ${{ steps.read-config-file.outputs.ref }}
      image_name: ${{ steps.read-config-file.outputs.image_name }}
      image_tag: ${{ steps.read-config-file.outputs.image_tag }}
      build_context: ${{ steps.read-config-file.outputs.build_context }}
      dockerfile: ${{ steps.read-config-file.outputs.dockerfile }}
      architectures: ${{ steps.read-config-file.outputs.architectures }}
      build_args: ${{ steps.read-config-file.outputs.build_args }}
      build_target: ${{ steps.read-config-file.outputs.build_target }}
    steps:
      - name: 检出分支
        uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}

      - name: 安装 yq
        uses: frenck/action-setup-yq@v1

      - name: 通过此分支中的最后一次提交获取被更新的文件名
        id: updated-files
        run: |
          # 当触发工作流的事件为 pull_request 时，github.sha 值为 github.ref 分支上的最后一次合并提交
          file=$( git diff-tree --no-commit-id --name-only -r ${{ github.event.pull_request.head.sha }} )
          echo "file=$file" >> $GITHUB_OUTPUT

      - name: 读取镜像构建配置文件
        id: read-config-file
        run: |
          file=${{ steps.updated-files.outputs.file }})
          echo "repo=$(yq e '.repo' $file)" >> $GITHUB_OUTPUT
          echo "ref=$(yq e '.ref' $file)" >> $GITHUB_OUTPUT
          echo "image_name=$(yq e '.image_name' $file)" >> $GITHUB_OUTPUT
          echo "image_tag=$(yq e '.image_tag' $file)" >> $GITHUB_OUTPUT
          echo "build_context=$(yq e '.build_context' $file)" >> $GITHUB_OUTPUT
          echo "dockerfile=$(yq e '.dockerfile' $file)" >> $GITHUB_OUTPUT
          echo "architectures=$(yq e '.architectures' $file)" >> $GITHUB_OUTPUT
          echo "build_args=$(yq e '.build_args' $file)" >> $GITHUB_OUTPUT
          echo "build_target=$(yq e '.build_target' $file)" >> $GITHUB_OUTPUT

  publish-docker:
    name: 构建并发布 Docker 镜像
    runs-on: ubuntu-latest
    needs: get-build-parameters
    steps:
      - name: Confirm current parameters
        env:
          REPO_URL: ${{ needs.get-build-parameters.outputs.repo }}
          TARGET_REF: ${{ needs.get-build-parameters.outputs.ref }}
          IMAGE_NAME: ${{ needs.get-build-parameters.outputs.image_name }}
          IMAGE_TAG: ${{ needs.get-build-parameters.outputs.image_tag }}
          BUILD_CONTEXT: ${{ needs.get-build-parameters.outputs.build_context }}
          DOCKERFILE: ${{ needs.get-build-parameters.outputs.dockerfile }}
          ARCHITECTURES: ${{ needs.get-build-parameters.outputs.architectures }}
          BUILD_ARGS: ${{ needs.get-build-parameters.outputs.build_args }}
          BUILD_TARGET: ${{ needs.get-build-parameters.outputs.build_target }}
        run: |
          echo "REPO_URL=$REPO_URL"
          echo "TARGET_REF=$TARGET_REF"
          echo "IMAGE_NAME=$IMAGE_NAME"
          echo "IMAGE_TAG=$IMAGE_TAG"
          echo "BUILD_CONTEXT=$BUILD_CONTEXT"
          echo "DOCKERFILE=$DOCKERFILE"
          echo "ARCHITECTURES=$ARCHITECTURES"
          echo "BUILD_ARGS=$BUILD_ARGS"
          echo "BUILD_TARGET=$BUILD_TARGET"

      - name: Set env
        env:
          IMAGE_NAME: ${{ needs.get-build-parameters.outputs.image_name }}
        run: |
          owner=$(echo '${{ github.repository_owner }}' | tr '[:upper:]' '[:lower:]')
          echo "OWNER=$owner" >> "$GITHUB_ENV"
          echo "IMAGE_FULL_NAME=ghcr.io/$owner/$IMAGE_NAME" >> $GITHUB_ENV
          echo "IMAGE_NAME=$IMAGE_NAME" >> $GITHUB_ENV
          echo "IMAGE_TAG=${{ needs.get-build-parameters.outputs.image_tag }}" >> $GITHUB_ENV

      - name: Checkout repository
        env:
          REPO_URL: ${{ needs.get-build-parameters.outputs.repo }}
          TARGET_REF: ${{ needs.get-build-parameters.outputs.ref }}
        run: |
          git clone $REPO_URL .
          git fetch --tags
          git checkout $TARGET_REF

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4.7'
      - name: Get license
        run: |
          gem install licensee
          license_result=$(licensee detect --json | jq -r '.licenses[0].spdx_id' 2>&1)
          status=$?
          if [ $status -eq 0 ]; then
              if [ "$license_result" = "null" ] || [ -z "$license_result" ]; then
                  echo "LICENSES=none" >> "$GITHUB_ENV"
              else
                  echo "LICENSES=$license_result" >> "$GITHUB_ENV"
              fi
          else
              echo "LICENSES=none" >> "$GITHUB_ENV"
          fi

      - name: Confirm current version
        run: |
          git describe --tags --always

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ env.OWNER }}
          password: ${{ github.token }}

      - name: Extract metadata (tags, labels) for image registry
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE_FULL_NAME }}
          annotations: |
            org.opencontainers.image.description=${{ env.IMAGE_DESCRIPTION }}
            org.opencontainers.image.url=${{ needs.get-build-parameters.outputs.repo }}
            org.opencontainers.image.source=${{ needs.get-build-parameters.outputs.repo }}
            org.opencontainers.image.title=${{ env.IMAGE_NAME }}
            org.opencontainers.image.version=${{ env.IMAGE_TAG }}
            ${{ env.LICENSES != 'none' && format('org.opencontainers.image.licenses={0}', env.LICENSES) || '' }}
          labels: |
            org.opencontainers.image.description=${{ env.IMAGE_DESCRIPTION }}
            org.opencontainers.image.url=${{ needs.get-build-parameters.outputs.repo }}
            org.opencontainers.image.source=${{ needs.get-build-parameters.outputs.repo }}
            org.opencontainers.image.title=${{ env.IMAGE_NAME }}
            org.opencontainers.image.version=${{ env.IMAGE_TAG }}
            ${{ env.LICENSES != 'none' && format('org.opencontainers.image.licenses={0}', env.LICENSES) || '' }}
        env:
          DOCKER_METADATA_ANNOTATIONS_LEVELS: manifest,index

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push
        id: push
        uses: docker/build-push-action@v6
        with:
          build-args: |
            ${{ needs.get-build-parameters.outputs.build_args }}
          context: ${{ needs.get-build-parameters.outputs.build_context}}
          target: ${{ needs.get-build-parameters.outputs.build_target }}
          push: true
          file: ${{ needs.get-build-parameters.outputs.dockerfile }}
          tags: |
            ${{ env.IMAGE_FULL_NAME }}:${{ env.IMAGE_TAG }}
            ${{ needs.get-build-parameters.outputs.image_tag != 'latest' && format('{0}:latest', env.IMAGE_FULL_NAME) || '' }}
          annotations: ${{ steps.meta.outputs.annotations }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          platforms: ${{ needs.get-build-parameters.outputs.architectures }}

      - name: Calculate image size
        run: |
          docker manifest inspect ${{ env.IMAGE_FULL_NAME }}:${{ env.IMAGE_TAG }} -v > manifest.json
          curl -o ./get_image_size.sh -s https://raw.githubusercontent.com/${{ github.repository }}/refs/heads/script/get_image_size.sh
          chmod +x get_image_size.sh

      - name: Get the package id
        run: |
          gh auth login --with-token <<< "${{ github.token }}"
          response=$(gh api \
            -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            /users/${{ env.OWNER }}/packages/container/${{ env.IMAGE_NAME }}/versions)
          version_id=$(echo "$response" | jq -r '.[] | select(.metadata.container.tags[]? == "${{ env.IMAGE_TAG }}") | .id')
          echo "VERSION_ID=$version_id" >> $GITHUB_ENV

      - name: Add a summary for the job
        run: |
          arch_array=($(echo ${{ needs.get-build-parameters.outputs.architectures }} | tr -d '"' | tr ',' '\n' | tr -d ' '))
          echo "## Build Report" >> $GITHUB_STEP_SUMMARY
          echo "### Get the image" >> $GITHUB_STEP_SUMMARY
          echo '<pre lang="bash">' >> $GITHUB_STEP_SUMMARY
          echo "<code>docker pull ${{ env.IMAGE_FULL_NAME }}:${{ env.IMAGE_TAG }}</code>" >> $GITHUB_STEP_SUMMARY
          echo "</pre>" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "Image Url: https://github.com/users/${{ env.OWNER }}/packages/container/${{ env.IMAGE_NAME }}/${{ env.VERSION_ID }}?tag=${{ env.IMAGE_TAG }}" >> $GITHUB_STEP_SUMMARY
          echo "### Image info" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "| Repository | Reference / Branch / Tag | Push Time |" >> $GITHUB_STEP_SUMMARY
          echo "|:-:|:-:|:-:|" >> $GITHUB_STEP_SUMMARY
          echo "| ${{ needs.get-build-parameters.outputs.repo }} | [$(git log --pretty=format:"%h" -n 1)](${{ needs.get-build-parameters.outputs.repo }}/tree/$(git log --pretty=format:"%H" -n 1)) |$(git log --pretty=format:"%ci" -n 1)|" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "| Architecture | Image Size |" >> $GITHUB_STEP_SUMMARY
          echo "|:-:|:-:|" >> $GITHUB_STEP_SUMMARY
          for arch in "${arch_array[@]}"; do
            echo "| $arch | $(./get_image_size.sh --arch $arch) |" >> $GITHUB_STEP_SUMMARY
          done
          echo "### Verify the image" >> $GITHUB_STEP_SUMMARY
          echo "You can use github cli to verify the image, run the command:" >> $GITHUB_STEP_SUMMARY
          echo '<pre lang="bash"><code>' >> $GITHUB_STEP_SUMMARY
          echo "gh attestation verify oci://${{ env.IMAGE_FULL_NAME }}:${{ env.IMAGE_TAG }} -R ${{ github.repository }}" >> $GITHUB_STEP_SUMMARY
          echo "</code></pre>" >> $GITHUB_STEP_SUMMARY

      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: ${{ env.IMAGE_FULL_NAME }}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true

  merge-prs:
    name: 自动合并此 PR
    runs-on: ubuntu-latest
    needs: 
      - publish-docker
    if: |

    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          ref: ${{ github.base_ref }}
      
      - name: Merge PR
        run: |
          max_attempts=5
          for attempt in $(seq 1 $max_attempts); do
            if gh pr merge $PR_NUMBER --squash --delete-branch --body ""; then
              echo "✅ Merge PR #$PR_NUMBER Success"
              exit 0
            else
              echo "⚠️ Merge PR #$PR_NUMBER Failed ($attempt / $max_attempts)"
              sleep 5
            fi
          done
